@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Black Mango';
    src: url(./assets/fonts/Black_Mango/black-mango-regular.ttf);
}
:root{
    --primary-lilac: #886da4;
    --secondary-lilac: #b598b4;
    --primary-black-purple: #060210;
    --primary-green: #7d8673;
    --primary-soft-pink: #ceada4;
}